# OIDC
QUARKUS_OIDC_AUTH_SERVER_URL=keyloack_realm_url
QUARKUS_OIDC_CLIENT_ID=client_id
QUARKUS_OIDC_CLIENT_SECRET=client_secret

# Database
DB_USERNAME=postgres
DB_PASSWORD=password
DB_JDBC_URL=db_url

# Google Cloud Storage
GCP_PROJECT_ID=project_id
GCP_REGION=region
GCP_PRIVATE_BUCKET=private_bucket_name
GCP_PUBLIC_BUCKET=public_bucket_name
GCP_SERVICE_ACCOUNT=service_account_email

# Cloud Function
KEYCLOAK_URL=keycloak_token_url
KEYCLOAK_REALM=realm_name
KEYCLOAK_CLIENT_ID=client_id
KEYCLOAK_CLIENT_SECRET=client_secret
FILE_SERVICE_ADDRESS=http://<EXTERNAL-IP>/file/confirm # EXTERNAL-IP from internal load balancer for files