# OIDC
QUARKUS_OIDC_AUTH_SERVER_URL=keyloack_realm_url
QUARKUS_OIDC_CLIENT_ID=client_id
QUARKUS_OIDC_CLIENT_SECRET=client_secret

# Database
DB_USERNAME=postgres
DB_PASSWORD=password
DB_JDBC_URL=db_url

# Google Cloud Storage
GCP_PROJECT_ID=project_id
GCP_PRIVATE_BUCKET=private_bucket_name
GCP_PUBLIC_BUCKET=public_bucket_name
GCP_SERVICE_ACCOUNT=service_account_email

# Cloud Function
GCP_REGION=region
KC_TOKEN_URL=keycloak_token_url
KC_CLIENT_ID=client_id
KC_CLIENT_SECRET=client_secret
CONFIRM_URL=endpoint_to_confirm_file_uploads